{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
{% include 'components/_nav.html' %}
{% include 'components/_aside.html' %}  
<div class="p-4 sm:ml-64">
     <div class="p-4 rounded-lg mt-14">
        <div class="flex flex-col items-center">
            
            <div class="flex flex-col items-center mb-10">
                <img class="w-32" src="{{ request.user.profile_image.url }}" alt="{{ request.user.fullname }}" title="{{ request.user.fullname }}">   
                <h3 class="text-white font-bold text-lg">{{ request.user.fullname }}</h3>
                {% if request.user.phone_number %}
                    <span class="text-center text-white font-medium">{{ request.user.get_phone_number }}</span>
                {% endif %}
                <span class="text-center text-white font-medium">{{ request.user.get_role_display }}</span>
            </div>
            
            <div class="w-full text-white flex justify-center gap-10">
                <div class="w-1/4 gap-2 border transition border-gray-700 hover:border-gray-500 rounded-lg p-4 flex flex-col justify-between">
                    <div class="flex justify-between gap-10">
                        <div class="font-medium">{% trans 'Kirish' %}</div>
                        <button type="button" data-modal-target="username-reset-modal" data-modal-toggle="username-reset-modal">
                            <i class="material-icons text-sm rounded-full py-1 px-2 border border-gray-700 hover:bg-gray-700 hover:cursor-pointer active:scale-90 select-none">border_color</i>
                        </button>
                    </div>
                    <div>{{ request.user.username }}</div>
                        
                    <div id="username-reset-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                        <div class="relative p-4 w-full max-w-md max-h-full">
                        <!-- Modal content -->
                            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                            <!-- Modal header -->
                                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                                    <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                                        {% trans "Yangi username o'rnatish" %}
                                    </h3>
                                    <button type="button" class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="username-reset-modal">
                                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                        </svg>
                                        <span class="sr-only">Close modal</span>
                                    </button>
                                </div>
                                <div class="p-4 md:p-5">
                                    <form class="space-y-4" action="{% url 'update_account_username' %}" method="post">
                                        {% csrf_token %}
                                        <div class="relative">
                                            <i class="absolute text-white material-icons left-2.5 top-1/2 -translate-y-1/2">person</i>
                                            <input value="{{ request.user.username }}" type="text" name="username" id="username" class="ps-10 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="{% trans 'Yangi username' %}" required />
                                        </div>  
                                        <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">{% trans "Yanglishash" %}</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="w-1/4 gap-2 border transition border-gray-700 hover:border-gray-500 rounded-lg p-4 flex flex-col justify-between">
                    <div class="flex justify-between gap-10">
                        <div class="font-medium">{% trans 'Parol' %}</div>
                        <button type="button" data-modal-target="password-reset-modal" data-modal-toggle="password-reset-modal">
                            <i class="material-icons text-sm rounded-full py-1 px-2 border border-gray-700 hover:bg-gray-700 hover:cursor-pointer active:scale-90 select-none">border_color</i>
                        </button>
                    </div>
                    <div id="password-reset-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                        <div class="relative p-4 w-full max-w-md max-h-full">
                        <!-- Modal content -->
                            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                            <!-- Modal header -->
                                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                                    <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                                        {% trans "Yangi parol o'rnatish" %}
                                    </h3>
                                    <button type="button" class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="password-reset-modal">
                                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                        </svg>
                                        <span class="sr-only">Close modal</span>
                                    </button>
                                </div>
                                <div class="p-4 md:p-5">
                                    <form class="space-y-4" action="{% url 'update_account_password' %}" method="post">
                                        {% csrf_token %}
                                        <div class="relative">
                                            <i class="absolute text-white material-icons left-2.5 top-1/2 -translate-y-1/2">lock</i>
                                            <input type="password" name="password1" id="password1" class="ps-10 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="{% trans 'Yangi parol' %}" required />
                                            <i onclick="togglePasswordVisibility('toggleIcon1', 'password1')" id="toggleIcon1" class="material-icons text-white absolute right-2.5 hover:cursor-pointer select-none top-1/2 -translate-y-1/2">visibility</i>
                                        </div>  
                                        <div class="relative">
                                            <i class="absolute text-white material-icons left-2.5 top-1/2 -translate-y-1/2">lock</i>
                                            <input type="password" name="password2" id="password2" class="ps-10 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="{% trans 'Parolni takrorlang' %}" required />
                                            <i onclick="togglePasswordVisibility('toggleIcon2', 'password2')" id="toggleIcon2" class="material-icons text-white absolute right-2.5 hover:cursor-pointer select-none top-1/2 -translate-y-1/2">visibility</i>
                                        </div>  
                                        
                                        <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">{% trans "Yanglishash" %}</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex gap-1 h-6 items-center">
                        <span class="bg-black dark:bg-white rounded-full w-1 h-1"></span>
                        <span class="bg-black dark:bg-white rounded-full w-1 h-1"></span>
                        <span class="bg-black dark:bg-white rounded-full w-1 h-1"></span>
                        <span class="bg-black dark:bg-white rounded-full w-1 h-1"></span>
                        <span class="bg-black dark:bg-white rounded-full w-1 h-1"></span>
                        <span class="bg-black dark:bg-white rounded-full w-1 h-1"></span>
                        <span class="bg-black dark:bg-white rounded-full w-1 h-1"></span>
                        <span class="bg-black dark:bg-white rounded-full w-1 h-1"></span>
                    </div>
                </div>
            </div>
        </div>  
     </div>
</div>  
<script src="{% static 'js/login/password.js' %}"></script>
{% endblock content %}