{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<section class="h-[100vh] bg-gray-50 dark:bg-gray-900" style="background: url('https://i.pinimg.com/736x/97/c0/07/97c00759d90d786d9b6096d274ad3e07.jpg');">
    <div class="h-[100vh] flex flex-row items-center justify-evenly px-6 py-8 mx-auto md:h-screen lg:py-0">
        <div class="w-1/2 bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h2 class="text-sm font-bold leading-tight tracking-tight text-gray-900 md:text-lg dark:text-white">
                    {% trans "Parolni tiklash uchun yo'riqnomalar yubrildi" %}
                </h2>
                <p class="text-white md:text-md">
                    {% blocktrans %}
                        Biz sisning elektron manzilingizga parolingizni tiklash bo'yicha yo'riqnoma yubordik, agar kiritgan manzilingiz bo'yicha akkaunt mavjud bo'lsa, unda xabar keladi.
                        Agar kelmasa, spam xabarlar qatorini tekshirib ko'ring
                    {% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}