{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}

<section class="h-[100vh] bg-gray-50 dark:bg-gray-900" style="background: url('https://i.pinimg.com/736x/97/c0/07/97c00759d90d786d9b6096d274ad3e07.jpg');">
    <div class="h-[100vh] flex flex-row items-center justify-evenly px-6 py-8 mx-auto md:h-screen lg:py-0">
        <div class="w-1/2 bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                {% if form %}
                    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                        {% trans 'Yangi parol' %}
                    </h1>
                    <p class="text-white">
                        {% blocktrans %}
                            Iltimos, parol to'g'ri terilganiga ishonch hosil qilish uchun 2 marta tering
                        {% endblocktrans %}
                    </p>
                    <form method="post" class="space-y-4 md:space-y-6" action="">
                        {% csrf_token %}
                        <div class="relative">
                            <i class="absolute text-white material-icons left-2.5 top-1/2 -translate-y-1/2">lock</i>
                            <input autofocus type="password" name="new_password1" id="id_new_password1" class="ps-10 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="{% trans 'Yangi parol' %}" required />
                            <i onclick="togglePasswordVisibility('toggleIcon1', 'id_new_password1')" id="toggleIcon1" class="material-icons text-white absolute right-2.5 hover:cursor-pointer select-none top-1/2 -translate-y-1/2">visibility</i>
                        </div>  
                        <div class="relative">
                            <i class="absolute text-white material-icons left-2.5 top-1/2 -translate-y-1/2">lock</i>
                            <input type="password" name="new_password2" id="id_new_password2" class="ps-10 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="{% trans 'Parolni takrorlang' %}" required />
                            <i onclick="togglePasswordVisibility('toggleIcon2', 'id_new_password2')" id="toggleIcon2" class="material-icons text-white absolute right-2.5 hover:cursor-pointer select-none top-1/2 -translate-y-1/2">visibility</i>
                        </div>  
                        <button type="submit" class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">{% trans "Parolni o'zgartirish" %}</button>
                    </form>
                    {% if form.errors %}
                        <ul>
                            {% for field, error_list in form.errors.items %}
                                {% for error in error_list %}
                                    <li class="text-red-500">- {{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% else %}
                    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                        {% trans "Parolni tiklab bo'lmaydi" %}
                    </h1>
                    <p class="text-white">
                        {% blocktrans %}
                            Parolni yangilash harakati muvaffaqiyatsizlikga uchradi, parolni tiklash uchun havola avval ishlatilganlikdan bo'lishi mumkin.
                            Iltimos, yangi havola so'rang.
                        {% endblocktrans %}
                    </p>
                    <p class="text-white">
                        {% trans 'Parolni tiklash uchun ' %}
                        <a class="transition text-blue-500 hover:text-blue-400" href="{% url 'password_reset' %}">{% trans "yangi havola so'rash" %}</a>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<script src="{% static 'js/login/password.js' %}"></script>
{% endblock content %}