{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<section class="h-[100vh] bg-gray-50 dark:bg-gray-900" style="background: url('https://i.pinimg.com/736x/97/c0/07/97c00759d90d786d9b6096d274ad3e07.jpg');">
    <div class="h-[100vh] flex flex-row items-center justify-evenly px-6 py-8 mx-auto md:h-screen lg:py-0">
        <div class="w-1/2 bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h2 class="text-sm font-bold leading-tight tracking-tight text-gray-900 md:text-lg dark:text-white">
                    {% trans "Parolni tiklash yakniga yetdi" %}
                </h2>
                <p class="text-white md:text-md">
                    {% blocktrans %}
                        Parolingiz muvaffaqiyatli tiklandi, kirish sahifasiga o'tib tizimga kirishingiz mumkin
                    {% endblocktrans %}
                </p>
                <a class="max-w-max block hover:cursot-pointer active:scale-90 transition text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" href="{% url 'login' %}">{% trans 'Tizimga kirish' %}</a>
            </div>
        </div>
    </div>
</section>
{% endblock content %}