{% if messages %}
    {% for message in messages %}
    <div class="absolute top-16 right-4">
        <div 
            class="max-w-[400px] flex items-center p-4 mb-4 rounded-lg
                {% if message.tags == 'error' %}
                    text-red-800 border-t-4 border-red-300 bg-red-50 dark:text-red-400 dark:bg-gray-800 dark:border-red-800
                {% elif message.tags == 'warning' %}
                    text-yellow-800 border-t-4 border-yellow-300 bg-yellow-50 dark:text-yellow-400 dark:bg-gray-800 dark:border-yellow-800
                {% elif message.tags == 'success' %}
                    text-green-800 border-t-4 border-green-300 bg-green-50 dark:text-green-400 dark:bg-gray-800 dark:border-green-800
                {% else %}  <!-- Default to info style if not specified -->
                    text-blue-800 border-t-4 border-blue-300 bg-blue-50 dark:text-blue-400 dark:bg-gray-800 dark:border-blue-800
                {% endif %}"
            role="alert">
            
            <!-- Icon depending on message level -->
            <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            
            <!-- Message content -->
            <div class="ms-3 text-sm font-medium">
                {{ message }}
            </div>
        </div>
    </div>
    {% endfor %}
{% endif %}
